<div>
  <p> <%= reply.body %> </p>

  <p>
    <span>
      <% if reply.user %>

         By <%= reply.user.first_name %> <%= reply.user.last_name %>, <%= reply.user.apt %>

      <% else %>

        By User Deleted

      <% end %> 
    </span> 

    <span>
      <%= l(reply.created_at, format: '%b %e, %Y, %I:%M%P')%> 
    </span>  
  </p>

  <p>
    <%= link_to('Reply', new_reply_path(reply.id)) %>
    <% if reply.user == current_user %>

      <%= link_to('Edit', edit_reply_path(reply)) %>
      <%= link_to('Delete', reply_path(reply), method: :delete, data: {confirm: 'Are you sure you want to delete this reply?'}) %>

    <% end %>
  </p>
</div>