<%= link_to 'Back to all Posts', topic_path(@post.topic) %>
<h1><%= @post.topic.title %> </h1>

<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<p><%= @post.created_at %></p>

<% if current_user = @post.user %>
<%= link_to 'Edit Post', edit_post_path %>
<%= link_to 'Delete Post', post_path, method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} %>
<% end %>





